@import '../utilities/mixins.scss';
@import '../shared/titles.scss';
@import '../shared/description.scss';
@import '../utilities/variables.scss';

.preloader {
    @extend %cover;
    @extend %center;
    background: $color-contessa;
    color: $color-quarter-spanish-white;
    text-align: center;
    display: none !important;

    z-index: map-get($z-indexes, preloader);
}

.preloader__text {
    @extend %title-53;
    max-width: 66rem;
}

.preloader__number {
    @extend %description-14;
    position: absolute;
    bottom: 7.3rem;
    left: 50%;
    transform: translateX(-50%);
}
