---
pagination:
    data: prismic.products
    size: 1
    alias: product
permalink: "| detail/#{ product.uid }/index.html"
layout: base
---
block variables
    - var template = "detail";

block content
    div= `${JSON.stringify(product.slug)}`
    .detail 
        .detail__wrapper 
            figure.test
