doctype html
html(lang="en")
  head
    meta(http-equiv="Content-Type", content="text/html;charset=UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel="shortcut icon", href="/vite.svg", type="image/svg")
    title Hello, World!
    link(rel="stylesheet", href="/styles/index.css")
  body
article.home-article
  h1.headline Hello World
  p Vite + Eleventy + PUG starter
script(type="module", src="/app/main.js")
