doctype html
html(lang="en")
	head
		meta(charset="UTF-8")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		title Document
		link(href="/assets/css/main.css", rel="stylesheet")
	body
		block variables
		main#main
			div(data-template=template)
				block content
		script(type="module", src="/assets/js/main.js")