doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title= prismic.meta.data.title
        meta(name="description", content=prismic.meta.data.description)
        link(href="/assets/styles/index.css", rel="stylesheet")
    body#app
        block variables
        include ../partials/navigation.pug
        include ../partials/preloader.pug
        main#main
            #content.content(data-template=template)
                block content

            .modals
                block modal
    script.
        window.ASSETS = !{JSON.stringify(prismic.assets).replace(/<\//g, "<\\/")}

    script(src="https://cdn.jsdelivr.net/npm/ua-parser-js/dist/ua-parser.min.js")
    script(type="module", src="/assets/js/main.js")
    script(type="module", src="/app/index.js")
