$color-contessa: #c97164;
$color-quicksand: #bc978c;
$color-quarter-spanish-white: #f9f1e7;

$font-suisse-bp: 'Suisse BP';
$font-george-x: 'George X';

$ease-out-expo: cubic-bezier(0.19, 1, 0.22, 1);

$z-indexes: ('navigation', 'content');
