$color-black: #000;
$color-contessa: #c97164;
$color-white: #fff;

$font-suisse-bp: 'Suisse BP';
$font-george-x: 'George X';

$ease-out-expo: cubic-bezier(0.19, 1, 0.22, 1);

$z-indexes: ('navigation', 'content');
